.text {
  display: flex;
  gap: 10px;
  flex-direction: row;
  align-items: center;
}

.wrap {
  margin-right: auto;
}

.delete {
  padding: 7px;
  border: none;
  border-radius: 10px;
  color: #fdfff3;
  background-color: #004aad;
  font-weight: 400;
}

.delete:hover {
  color: #004aad;
  background-color: #fdfff3;
  border: 1px #004aad solid;
  cursor: pointer;
}
