body {
  font-family: "Red Hat Display", serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fdfff3;
  color: #004aad;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}
