.contactList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 100%;
}

.contactItem {
  width: 100%;
  border: 1px #004aad solid;
  border-radius: 4px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 885px) {
    width: calc((100% - 60px) / 4);
  }
}
